:root {
  --navy-shadow: #2d94967a;
  --background-color: #000;
  --lightest-navy: #04364A;
  --light-navy: #010815;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #C0DEFF  ;
  --lightest-slate: rgb(0, 255, 242);
  --theme-color: #ade8fd;
}

::-moz-selection {
  color: white;
  background: var(--theme-color);
}

::selection {
  color: white;
  background: var(--theme-color);
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background-color);
  counter-reset: title;
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--background-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--background-color);
  border-radius: 10px;
}
